@import './../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables';

:host {
  --ds-auro-carousel-scroll-button-border-color: var(--ds-color-border-ui-default-default, #{$ds-color-border-ui-default-default});
  --ds-auro-carousel-scroll-button-container-color: var(--ds-color-container-ui-secondary-default-default, #{$ds-color-container-ui-secondary-default-default});
  --ds-auro-carousel-scroll-button-icon-color: var(--ds-color-icon-ui-default-default, #{$ds-color-icon-ui-default-default});
}
